.home {
  width: 100%;
  margin: 0 auto;
  padding: var(--size-large);
  color: var(--dark4);
}

.home section {
  display: flex;
  flex-direction: column;
}

.home h1 {
  text-align: center;
  text-decoration: underline;
}

.home h2 {
  text-decoration: underline;
}

.home .first_project {
  display: flex;
  gap: var(--size-large1);
  font-size: var(--favorite);
  margin: var(--size-large3);
}

.home .first_project .projec_desc {
  width: 100%;
  white-space: pre-wrap;
}

.home .first_project .projec_desc ul {
  display: flex;
  gap: var(--favorite);
  padding: 0;
  list-style: none;
}

.home .first_project .projec_desc h3 {
  color: blue;
}

.home .first_project .projec_desc ul li {
  border: 4px solid var(--dark5);
  color: var(--dark4);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5px 8px;
  margin: 1rem 0;
  text-align: center;
}

.home .first_project .projec_desc .live_demo {
  font-size: var(--size4);
  font-weight: 600;
}

.home .first_project .projec_desc .live_demo:hover {
  color: blue;
  font-size: var(--size5);
}
.home .first_project .image_container {
  width: 35rem;
}

.home .first_project img {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .home .first_project .projec_desc ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1250px) {
  .home .first_project .image_container {
    width: 30rem;
  }

  .home .first_project {
    display: flex;
    gap: var(--size-large);
    font-size: var(--favorite);
    margin: var(--size-large);
  }
}

@media screen and (max-width: 1150px) {
  .home .first_project .image_container {
    width: 35rem;
  }
}
@media screen and (max-width: 978px) {
  .home {
    padding: 0;
  }

  .home .first_project .image_container {
    width: 35rem;
  }
}

@media screen and (max-width: 768px) {
  .home .first_project {
    flex-direction: column;
    gap: var(--size3);
    font-size: var(--favorite);
    margin: 0 auto;
  }

  .home .first_project .projec_desc ul {
    grid-template-columns: 1fr;
    gap: 0;
    width: 50%;
  }

  .home .first_project .image_container {
    width: 30rem;
  }
}

@media screen and (max-width: 468px) {
  .home {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: var(--dark4);
  }

  .home .first_project {
    display: flex;
    gap: var(--size-large1);
    font-size: var(--favorite);
    margin: 0 auto;
  }
}
