* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Quicksand", sans-serif;

  --size1: 0.5rem;
  --size2: 0.8rem;
  --size3: 1rem;
  --favorite: 1.2rem;
  --size4: 1.3rem;
  --size5: 1.5rem;
  --size: 2rem;
  --size-large: 3rem;
  --size-large1: 4rem;
  --size-large2: 4.5rem;
  --size-large3: 5rem;

  --main-color: rgb(26, 25, 25);

  --dark1: rgb(56, 55, 55);
  --dark2: rgb(56, 54, 54);
  --dark3: rgb(27, 27, 27);
  --dark4: rgb(2, 2, 2);
  --dark5: rgb(15, 13, 13);

  --white: rgb(255, 255, 255);
  --white2: rgb(245, 243, 243);
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

.main {
  min-height: 80%;
  width: 100%;
  padding-bottom: 6rem;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
}

.read_more {
  display: block;
  color: blue;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.read_more:hover {
  color: rgb(15, 15, 221);
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Style the scrollbar progress indicator */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #888; /* Set the color of the vertical thumb */
}

/* Style the progress indicator */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #555; /* Set the color of the vertical thumb when active */
}

/* Style the progress indicator when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the thumb on hover */
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding-bottom: 2rem;
  }
}
